#edit-gin-sticky-actions #edit-moderation-state-0 .form-element--type-select,
#edit-gin-sticky-actions #edit-moderation-state-0--2 .form-element--type-select {
  width: 8rem;
}

#edit-gin-sticky-actions #edit-moderation-state-0 .form-item--moderation-state-0-current,
#edit-gin-sticky-actions #edit-moderation-state-0--2 .form-item--moderation-state-0-current {
  display: none;
}

#edit-gin-sticky-actions #edit-moderation-state-0 .form-item--moderation-state-0-state label,
#edit-gin-sticky-actions #edit-moderation-state-0--2 .form-item--moderation-state-0-state label {
  display: none;
}

#edit-gin-sticky-actions #gin-sticky-edit-submit {
  order: -4;
}

#edit-gin-sticky-actions #gin-sticky-edit-preview {
  order: -5;
}

#edit-gin-sidebar #edit-moderation-state-wrapper {
  display: none;
}
