#edit-gin-sticky-actions {

  #edit-moderation-state-0,
  #edit-moderation-state-0--2 {
    .form-element--type-select {
      width: 8rem;
    }
  
    .form-item--moderation-state-0-current {
      display: none;
    }
  
    .form-item--moderation-state-0-state {
      label {
        display: none;
      }
    }
  }
  
  #gin-sticky-edit-submit {
    order: -4;
  }
  
  #gin-sticky-edit-preview {
    order: -5;
  }
}

#edit-gin-sidebar {
  #edit-moderation-state-wrapper {
    display: none;
  }
}
